# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: '.bumpversion.cfg'
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args:
          - --ignore
          - B6
          - --msg-filename
        stages: [ commit-msg ]
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.3
    hooks:
      - id: typos
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --strict
        additional_dependencies:
          - 'mypy>=1.6.1,<2.0'
          - 'hypothesis>=6.135.14,<7.0'
          - 'pytest>=8.4.1'
          - 'setuptools'
          - 'types-setuptools'
          - 'typing_extensions>=4.12.2,<5.0'
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        additional_dependencies:
          - 'mypy>=1.6.1,<2.0'
          - 'hypothesis>=6.135.14,<7.0'
          - 'pytest>=8.4.1'
          - 'setuptools'
          - 'types-setuptools'
          - 'typing_extensions>=4.12.2,<5.0'
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
